@font-face {
  font-family: "sommet-rounded";
  src: url("./fonts/sommet-rounded-700.woff2") format("woff2"),
  url("./fonts/sommet-rounded-700.woff") format("woff"),
  url("./fonts/sommet-rounded-700.ot") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
}

.maplibregl-popup {
  max-width: 320px !important;
}

.mapboxgl-popup-content, .maplibregl-popup-content {
  background: rgba(30, 33, 39, 0.9) !important;
  border-radius: 4px;
  padding: 24px 16px 20px !important;
  width: 320px;
  max-width: 320px !important;
  z-index: 999999999999999;
}

.maplibregl-popup-link {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

.maplibregl-popup-link {
  text-decoration: none;
}

.maplibregl-popup-tip, .mapboxgl-popup-tip {
  border-top-color: rgba(30, 33, 39, 0.9) !important;
}

.maplibregl-popup-anchor-top .maplibregl-popup-tip {
  border-bottom-color: rgba(30, 33, 39, 0.9) !important;
}

.maplibregl-popup-anchor-left .maplibregl-popup-tip {
  border-top-color: transparent !important;
  border-right-color: rgba(30, 33, 39, 0.9) !important;
}

.maplibregl-popup-anchor-top-right .maplibregl-popup-tip {
  border-top-color: transparent !important;
  border-bottom-color: rgba(30, 33, 39, 0.9) !important;
}

.maplibregl-popup-title {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
  text-decoration: underline;
  display: inline-block;
}

.maplibregl-popup-title:hover {
  text-decoration: none;
}

.maplibregl-popup-info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 8px;
  color: #fff;
  font-size: 14px;
}

.maplibregl-popup-close-button {
  font-size: 32px;
  color: #fff;
  right: 16px !important;
  top: 20px !important;
}

path.history-curve {
  stroke-width: 2 !important;
}

.markdown h2 {
  font-family: 'sommet-rounded', sans-serif;
  font-size: 44px;
  margin-top: 50px;
  margin-bottom: 32px;
}

path.projection {
  stroke: #333333;
  stroke-width: 2;
  stroke-dasharray: 0;
  stroke-opacity: 0.2;
}

path.projection.auth {
  stroke: #333333;
  stroke-width: 3;
  stroke-dasharray: 0;
  stroke-opacity: 0.4;
}
